/*CSS joce-a.cl*/

body {
	margin: 0;
	background-color: black;
	}

/*NAV*/	
.main_nav__hamb {
	display: none;
	}

.main_nav__link {
	color: #E6BCD8;
	text-decoration: none;
	padding: 0 5px;
	}

.main_nav__list {
	padding: 10px;
	display: inline-block;
	}

.main_nav__list:hover .main_nav__link {
	color: white;
	text-decoration: none;
	}

.main_nav__elements {
	list-style-type: none;
	max-height: 200px;
	text-align: center;
	padding: 50px 0;
	}

/*CENTER INDEX*/	
.main_intro__div {
	text-align: center; 
	padding-bottom: 20px;
	}

/*FOOTER*/
.main_foot__br {
	width: auto;
	height: 4px;
	background-color: #E6BCD8;
	}

.main_foot__txt-h {
	text-align: center;
	color: #E6BCD8;
	font-size: 1.3em;
	}

/*ABOUT.HTML*/
.main_about__txt {
	padding: 200px 0 30px;
	color: #E6BCD8;
	font-size: 6em;
	}

.main_about__btn {
	text-align: center;
	width: 200px;
	margin: auto;
	}

.main_about__btn-img {
	width: 200px;
	}

.main_about__btn-txt {
	color: #E6BCD8;
	margin-top: 0;
	margin-bottom: 50px;
	}


@media screen and (max-width: 786px) {
/*NAV*/
	.main_nav__hamb-img {
		width: 3rem;
		height: auto;
		float: left;
		}

	.main_nav__hamb-link {
		padding: 5px;
		display: inline-block;
		}

	.main_nav__hamb {
		padding: 20px 0 0 20px;
		display: block;
		}

	.main_intro__img {
		width: 350px;
		height: auto;
		}

	.main_nav__hamb {
		padding: 20px 0 0 20px;
		}

	.main_nav__elements {
		max-height: 0;
		overflow: hidden;
		transition: max-height .5s ease-in-out;
		padding: 0;
		}

	ul.main_nav__elements.show {
		max-height: 500px;
		}

	.main_nav__list {
		display: list-item;
		}

/*CENTER INDEX*/		
	.main_intro__div {
		padding: 10px 0;
		} 

/*ABOUT.HTML*/
	.main_about__txt {
		padding: 100px 0 30px;
		color: #E6BCD8;
		font-size: 2em;
		}

	.main_about__btn {
		width: 120px;
		}

	.main_about__btn-img {
		width: 120px;
		}

	.main_about__btn-txt {
		margin-bottom: 30px;
		font-size: 1em;
		}

/*FOOTER*/
	.main_foot__br {
		height: 2px;
		}

	.main_foot__txt-h {
		text-align: center;
		color: #E6BCD8;
		font-size: 0.8em;
		}
	}